# Data Read-In and Preliminary Analysis

## Python Setup

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
pd.options.display.max_rows = 50
pd.options.display.max_columns = 100
import unidecode

## Data Read-In

In [2]:
grants_details = pd.read_csv('../data/inca_grants_details.csv')
pub_details = pd.read_csv('../data/inca_pub_details.csv', low_memory=False)

In [3]:
grants_details.head()

,INCA ID,Dimensions ID,Title,Abstract,Funder,Reference,Organisation,Funding Amount ($),Start Date,End Date
0,inca_1,grant.7426242,"Cancer, Environment and metabolomics: the dog ...",Our innovative project aims to use the dog as ...,French Institute of Health and Medical Research,Inserm_6181,Ecole Vétérinaire de Nantes,65061.0,2011-12-13,2013-06-12
1,inca_2,grant.7426178,Creating tools to assess DNA repair dysfunctio...,Scientific context Non-small cell lung carcin...,French Institute of Health and Medical Research,Inserm_4631,Institut Gustave Roussy,240110.0,2011-11-01,2014-11-01
2,inca_3,grant.7154464,A multicenter randomized phase II study to eva...,Medical oncologists are used to treat patients...,Ministère des Affaires sociales et de la Santé,DGOS_2555,Centre Oscar Lambret,248109.0,2010-06-01,2013-06-01
3,inca_3,grant.7154160,National oesophageal and gastric carcinomas da...,"In 2005, the worldwide incidence of oesophagog...",French National Cancer Institute,INCa_6288,Centre Oscar Lambret,875159.0,2013-04-15,2016-04-14
4,inca_4,grant.7154483,Non-coding RNA and cancer,The aim of our project is to understand the mo...,French National Cancer Institute,INCa_2699,CNRS Inserm UMR8161,400306.0,2010-11-04,2013-11-04

In [4]:
pub_details.head()

,INCA ID,Dimensions ID,Additional DIM ID to combine,Additional DIM ID to combine 2,ORCID,title,doi,issue,pages,Pubmed ID,volume,Relative Citation Ratio,Times Cited,altmetric,Open access,Author Names,Journal Title,Publication Year,Publication Date
0,inca_1,ur.0642054564.81,NaN,NaN,NaN,Canine invasive mammary carcinomas as models o...,10.1007/s10549-017-4548-2,3,635-648,29086231.0,167,NaN,1,0.0,True,"Frédérique Nguyen, Laura Peña, Catherine Ibisc...",Breast Cancer Research and Treatment,2018.0,2018-02-09
1,inca_1,ur.0642054564.81,NaN,NaN,NaN,MIB‐1 immunoreactivity correlates with biologi...,10.1046/j.1365-3164.2001.00236.x,3,139-147,11420929.0,12,1.42,35,NaN,NaN,"C. Laprie, J. Abadie, M.‐F. Amardeilh, J.‐L.L....",Veterinary Dermatology,2001.0,2001-06-09
2,inca_1,ur.0642054564.81,NaN,NaN,NaN,Molecular cytogenetic characterization of cani...,10.1186/1471-2407-11-201,1,1-14,21615919.0,11,1.73,43,7.0,True,"Benoit Hedan, Rachael Thomas, Alison Motsinger...",BMC Cancer,2011.0,2011-12-09
3,inca_1,ur.0642054564.81,NaN,NaN,NaN,Chapter 2 Cancer Prevalence and Etiology in Wi...,10.1016/b978-0-12-804310-3.00002-8,NaN,11-46,NaN,NaN,NaN,7,NaN,NaN,"Thomas Madsen, Audrey Arnal, Marion Vittecoq, ...",NaN,2017.0,2017-05-09
4,inca_1,ur.0642054564.81,NaN,NaN,NaN,Spontaneous Canine Mammary Carcinoma as a Mode...,10.1016/j.jcpa.2011.11.136,1,79,NaN,146,NaN,1,NaN,NaN,"J. Abadie, F. Nguyen, D. Loussouarn, I. Bemelm...",Journal of Comparative Pathology,2012.0,2012-01-09

In [5]:
grants_details.describe(include = 'all')

,INCA ID,Dimensions ID,Title,Abstract,Funder,Reference,Organisation,Funding Amount ($),Start Date,End Date
count,1821,1821,1821,1779,1821,1821,1820,1.821000e+03,1783,1765
unique,1001,1627,1546,1491,39,1550,699,NaN,382,493
top,inca_502,grant.7154229,Epigenetic restoration of estrogen signalling ...,Scientific context: Several methods can be use...,French National Cancer Institute,INCa_DGOS_5716,Institut Gustave Roussy,NaN,2007-02-02,2010-02-02
freq,12,3,4,4,848,4,107,NaN,99,87
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.213363e+05,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.526765e+05,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.661200e+05,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.778120e+05,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.110280e+05,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.406214e+07,NaN,NaN

In [6]:
pub_details.describe(include='all')

,INCA ID,Dimensions ID,Additional DIM ID to combine,Additional DIM ID to combine 2,ORCID,title,doi,issue,pages,Pubmed ID,volume,Relative Citation Ratio,Times Cited,altmetric,Open access,Author Names,Journal Title,Publication Year,Publication Date
count,145121,145121,29643,2763,32080,145121,131335,127929,142897,1.053860e+05,140591,97820.000000,145121.000000,30482.000000,43809,145121,140296,145109.000000,145109
unique,965,965,95,9,198,107243,97583,1607,53204,NaN,1591,NaN,NaN,NaN,1,102384,4566,NaN,6237
top,inca_542,ur.01074225776.01,ur.01204666360.03,ur.010226620247.19,0000-0003-4181-8071,Reply,10.1038/bmt.2016.102,1,1-9,NaN,28,NaN,NaN,NaN,True,"Jeffrey W. Pollard, Alla Danilkovitch-Miagkova...",Journal of Clinical Oncology,NaN,2011-05-09
freq,1272,1272,1272,488,1272,37,10,16673,322,NaN,2505,NaN,NaN,NaN,43809,538,4577,NaN,1760
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.770133e+07,NaN,1.569821,29.756348,9.063939,NaN,NaN,NaN,2006.900737,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.572868e+06,NaN,3.939357,97.346231,48.115127,NaN,NaN,NaN,8.572783,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.239000e+03,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,1949.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.128256e+07,NaN,0.230000,0.000000,1.000000,NaN,NaN,NaN,2002.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.868756e+07,NaN,0.720000,6.000000,2.000000,NaN,NaN,NaN,2009.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.402514e+07,NaN,1.690000,27.000000,5.000000,NaN,NaN,NaN,2014.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.958951e+07,NaN,249.310000,5458.000000,2113.000000,NaN,NaN,NaN,2018.000000,NaN

## ORCID Names Quality

In [7]:
pub_details['orcid_flag'] = pub_details['ORCID'].notnull()

In [8]:
pub_details['orcid_flag'].value_counts(normalize = True)

False    0.778943
True     0.221057
Name: orcid_flag, dtype: float64

Only 22% of publications have an ORCID code.

In [9]:
pub_details['ORCID'].value_counts().head()

0000-0003-4181-8071    1272
0000-0002-9334-4405    1114
0000-0001-7190-120X     875
0000-0003-2574-3874     776
0000-0002-0400-1954     767
Name: ORCID, dtype: int64

In [10]:
orcid = pub_details[pub_details['ORCID'].notnull()][['INCA ID', 'ORCID']].reset_index(drop = True)

In [11]:
orcid.sort_values('ORCID').head()

        INCA ID                ORCID
23860  inca_823  0000-0001-5088-0155
23865  inca_823  0000-0001-5088-0155
23866  inca_823  0000-0001-5088-0155
23867  inca_823  0000-0001-5088-0155
23868  inca_823  0000-0001-5088-0155

In [12]:
orcid.sort_values('ORCID').tail()

        INCA ID                ORCID
24247  inca_847  0000-0003-4839-4347
24249  inca_847  0000-0003-4839-4347
24250  inca_847  0000-0003-4839-4347
24236  inca_847  0000-0003-4839-4347
24253  inca_847  0000-0003-4839-4347

ORCID codes seem clean.

## Institution Names Quality

In [13]:
grants_details['org_clean'] = grants_details['Organisation'].fillna('')

In [14]:
grants_details['org_flag'] = grants_details['org_clean'].apply(lambda x: x!='')
grants_details['org_flag'].value_counts(normalize = True)

True     0.999451
False    0.000549
Name: org_flag, dtype: float64

99.9% of grants have an organization.

In [15]:
print("{} different Institution Names".format(len(grants_details['org_clean'].value_counts())))

700 different Institution Names

In [16]:
grants_details['org_clean'].value_counts().head()

Institut Gustave Roussy     107
Institut Curie               84
Centre Léon Bérard           54
Institut Paoli-Calmettes     37
Institut Bergonié            24
Name: org_clean, dtype: int64

In [17]:
string = "Paoli"
grants_details[grants_details['org_clean'].str.contains(string)]['org_clean'].value_counts()

Institut Paoli-Calmettes                                                                       37
Institut Paoli Calmettes                                                                        5
Inserm U1068 -  Centre de recherche en cancérologie de Marseille - Institut Paoli Calmettes     3
UMR912 Inserm-IRD-Université d’Aix Marseille SESSTIM - Institut Paoli Calmettes                 2
UMR7258  Centre de recherche en cancérologie de Marseille (CRCM) - Institut Paoli Calmettes     1
Inserm U1068 - Centre de recherche en cancérologie de Marseille - Institut Paoli-Calmettes      1
Name: org_clean, dtype: int64

Organisation names are not clean at all.

### Cleaning Institution Names

In [18]:
grants_details['org_clean'] = grants_details['org_clean'].str.upper()
grants_details['org_clean'] = grants_details['org_clean'].str.strip()
grants_details['org_clean'] = grants_details['org_clean'].str.replace(r'-', ' ')
grants_details['org_clean'] = grants_details['org_clean'].str.replace(r'\s+', ' ')

# Remove accents
grants_details['org_clean'] = grants_details['org_clean'].apply(lambda x: unidecode.unidecode(x))

grants_details['org_clean'] = grants_details['org_clean'].str.replace(r'^(CNRS INSERM|CNRS|INSERM|) ?UM?R? ?\d+ -? ?', ' ')
grants_details['org_clean'] = grants_details['org_clean'].str.replace(r'APHP', ' ')
grants_details['org_clean'] = grants_details['org_clean'].str.replace('CURIE INSTITUTE', 'INSTITUT CURIE')
grants_details['org_clean'] = grants_details['org_clean'].str.replace(r'\(.+\)', 'INSTITUT CURIE')
grants_details['org_clean'] = grants_details['org_clean'].str.replace(r'\s+', ' ')
grants_details['org_clean'] = grants_details['org_clean'].str.strip()

In [19]:
grants_details['org_clean'].value_counts().head(5)

INSTITUT GUSTAVE ROUSSY     133
INSTITUT CURIE              104
CENTRE LEON BERARD           54
HOPITAL SAINT LOUIS          44
INSTITUT PAOLI CALMETTES     42
Name: org_clean, dtype: int64

In [20]:
print("{} different Clean Institution Names".format(len(grants_details['org_clean'].value_counts())))

607 different Clean Institution Names

**To be continued...**

## Funder Name Quality

In [21]:
grants_details['funder_clean'] = grants_details['Funder'].fillna('')

In [22]:
grants_details['funder_flag'] = grants_details['funder_clean'].apply(lambda x: x!='')
grants_details['funder_flag'].value_counts(normalize = True)

True    1.0
Name: funder_flag, dtype: float64

All grants have a Funder.

In [23]:
print("{} different Funder Names".format(len(grants_details['funder_clean'].value_counts())))

39 different Funder Names

In [24]:
grants_details['funder_clean'].value_counts().head()

French National Cancer Institute                   848
Ministère des Affaires sociales et de la Santé     524
French Institute of Health and Medical Research    162
French National Research Agency                    122
Swiss National Science Foundation                   42
Name: funder_clean, dtype: int64

In [25]:
grants_details['funder_clean'] = grants_details['funder_clean'].str.upper()

# Remove accents
grants_details['funder_clean'] = grants_details['funder_clean'].apply(lambda x: unidecode.unidecode(x))

grants_details['funder_clean'] = grants_details['funder_clean'].str.replace(r'\s+', ' ')
grants_details['funder_clean'] = grants_details['funder_clean'].str.strip()

In [26]:
print("{} different Funder Names".format(len(grants_details['funder_clean'].value_counts())))

39 different Funder Names

In [27]:
grants_details['funder_clean'].value_counts().head()

FRENCH NATIONAL CANCER INSTITUTE                   848
MINISTERE DES AFFAIRES SOCIALES ET DE LA SANTE     524
FRENCH INSTITUTE OF HEALTH AND MEDICAL RESEARCH    162
FRENCH NATIONAL RESEARCH AGENCY                    122
SWISS NATIONAL SCIENCE FOUNDATION                   42
Name: funder_clean, dtype: int64

Funder names are clean.

## Scraping Research Topics

In [28]:
# import requests
# from lxml import html

# USERNAME = "nj995@nyu.edu"
# PASSWORD = ""

# LOGIN_URL = "https://staging-ddpp.dimensions.ai/login?redirect=%2Fdiscover"
# URL = "https://staging-ddpp.dimensions.ai/details/grant/grant.7426242"

# def main():
#     session_requests = requests.session()

#     # Get login csrf token
#     result = session_requests.get(LOGIN_URL)
#     authentication_token = re.search('csrf: (.*)', result.text, re.IGNORECASE).group(1)
#     authentication_token = authentication_token.replace(r',', '')
#     authentication_token = authentication_token.replace('\'', '')

#     # Create payload
#     payload = {
#         "login": USERNAME, 
#         "password": PASSWORD
# #        "csrf_token": authenticity_token
#     }

#     # Perform login
#     result = session_requests.post(LOGIN_URL, data = payload, headers = dict(referer = LOGIN_URL))

#     # Scrape url
# #    result = session_requests.get(URL, headers = dict(referer = URL))
# #     tree = html.fromstring(result.content)
# #     bucket_names = tree.xpath("//div[@class='repo-list--repo']/a/text()")

#     print(result.text)

# if __name__ == '__main__':
#     main()

## Sandbox